<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>

	<!--<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}">Login with Facebook</a>
    <a href="{% url 'social:begin' 'google-oauth2' %}?next={{ request.path }}">Login with Google</a>-->

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>


<script src='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.4.1/mapbox-gl.css' rel='stylesheet' />

<!------ Include the above in your HEAD tag ---------->

<div class="container">
		{% if not user.is_authenticated %}
    	<h1 class="well">Login</h1>
    	<div class="col-lg-12 well">
				<div class="row">	
					<div class="col-sm-4">
						<div class="btn-group">
							<a href="{% url 'social:begin' 'facebook' %}?next={{ request.path }}" type="button" class="btn btn-primary"><i class="fa fa-facebook" ></i>Sign in with Facebook</a>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="btn-group">
							<button type="button" class="btn btn-danger"><i class="fa fa-google-plus"></i>Sign in with GooglePlus</button>
						</div>
					</div>
					<div class="col-sm-4">
						<div class="btn-group">
							<button type="button" class="btn btn-info"><i class="fa fa-linkedin"></i>Sign in with Linkedin</button>
						</div>
					</div>
				</div>	
		</div>
    	{% else %}
    	<h1 class="well">Bienvenido {{ user }}</h1>
    	<a href="/salir/">LogOut</a>
    	<div id='map' style='width: 100%; height: 350px;'></div>
		<div id='menu'>
			<input id='streets-v11' type='radio' name='rtoggle' value='streets' checked='checked'>
			<label for='streets'>streets</label>
			<input id='light-v10' type='radio' name='rtoggle' value='light'>
			<label for='light'>light</label>
			<input id='dark-v10' type='radio' name='rtoggle' value='dark'>
			<label for='dark'>dark</label>
			<input id='outdoors-v11' type='radio' name='rtoggle' value='outdoors'>
			<label for='outdoors'>outdoors</label>
			<input id='satellite-v9' type='radio' name='rtoggle' value='satellite'>
			<label for='satellite'>satellite</label>
		</div>
		<script async defer src="https://connect.facebook.net/en_US/sdk.js"></script>
		<script>
		  window.fbAsyncInit = function() {
		    FB.init({
		      appId            : '397963834455773',
		      autoLogAppEvents : true,
		      xfbml            : true,
		      version          : 'v4.0'
		    });
		    /*FB.api(
			  '/me',
			  'GET',
			  {'access_token':'EAAFp8iz8dt0BAFhZAH8TUsTzxsjkko4sSWSNiDiKALrYCSbufWESZBZCp7Xt7NzMotQxqytElcmNiQNNKxW0yJ3ZAStfvYxtBJqjvO1A8q1ZAp5wuiZAnOsFsZAWkPjob2I0hia2saJwb2A3yKcUW0VOUwBx3HmjkyxIMnRnw7MGBJO3WPxYT4QBmwVbdjqVslesvMDawgyZAAZDZD',"fields":"name,posts{place}"},
			  function(response) {
			      // Insert your code here
			      //console.log(response.posts.data[1].place.location.latitude);
			      for (var paso = 0; paso < response.posts.data.length; paso++) {
			      	if (response.posts.data[paso].place!=null){
			      		// Se ejecuta 5 veces, con valores desde paso desde 0 hasta 4.
					  console.log(response.posts.data[paso].place.location);
					  var lat=response.posts.data[paso].place.location.latitude;
					  var long=response.posts.data[paso].place.location.longitude;
					  var marker = new mapboxgl.Marker()
						  .setLngLat([long, lat])
						  .addTo(map);
			      	}
					  // Se ejecuta 5 veces, con valores desde paso desde 0 hasta 4.
					  //console.log(response.posts.data[paso].place.location);
					  //var lat=response.posts.data[paso].place.location.latitude;
					  //var long=response.posts.data[paso].place.location.longitude;
					  //var marker = new mapboxgl.Marker()
						//  .setLngLat([5.1, 3.2])
						  //.addTo(map);
					};
			     //console.log(response.posts.data.length);
			  }
			);*/
			FB.login(function(response) {

			    if (response.authResponse) {

			        //Set global vars
			        //fb_uid = response.authResponse.userID;
			        var fb_token = response.authResponse.accessToken;
			        console.log(response.authResponse.accessToken);
			        FB.api(
			        	'/me',
			        	'GET',
			        	{'access_token':fb_token, "fields":"friends{posts{place{location{latitude,longitude}}}}"},
			        	function(response){
			        		console.log(response.friends.data[0]);
			        		for(var f=0; f<response.friends.data.length; f++){
			        			for(var p=0; p<response.friends.data[f].posts.data.length; p++){
			        				if (response.friends.data[f].posts.data[p].place!=null){
			        				var lat=response.friends.data[f].posts.data[p].place.location.latitude;
									var long=response.friends.data[f].posts.data[p].place.location.longitude;
									var marker = new mapboxgl.Marker()
									  .setLngLat([long, lat])
									  .addTo(map);
			        				}
			        			};
			        		};



			        		/*for (var paso = 0; paso < response.posts.data.length; paso++){
			        			if (response.friends[0].posts.data[paso].place!=null){
			        				var lat=response.friends[0].posts.data[paso].place.location.latitude;
									var long=response.friends[0].posts.data[paso].place.location.longitude;
									var marker = new mapboxgl.Marker()
									  .setLngLat([long, lat])
									  .addTo(map);
			        			}
			        		};*/
			        	}
			        )

			    };
			});
		  };
		</script>
		<script>
			mapboxgl.accessToken = 'pk.eyJ1IjoiY2FtaWxvZ216IiwiYSI6ImNrMjExcG52cjA2eHAzaG81MWRiZ2Rua24ifQ.EmlyVuv0L8wQ1gdqspxm1Q';
			var map = new mapboxgl.Map({
			container: 'map',
			style: 'mapbox://styles/mapbox/streets-v11'
			});
			// Add zoom and rotation controls to the map.
			map.addControl(new mapboxgl.NavigationControl());

			var layerList = document.getElementById('menu');
			var inputs = layerList.getElementsByTagName('input');
			 
			function switchLayer(layer) {
			var layerId = layer.target.id;
			map.setStyle('mapbox://styles/mapbox/' + layerId);
			}
			 
			for (var i = 0; i < inputs.length; i++) {
			inputs[i].onclick = switchLayer;
			}
		</script>
    	{% endif %}
		
	</div>

</body>
</html>